$theme-color: #142A53;
$theme-color-light: #172d56;
$gray-med: #9B9AA0;

$mid-large-breakpoint: 922px;

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
@import 'materialize.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: $theme-color;
}
h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Open Sans', sans-serif;
}
.text-gray {
  color: $gray-med;
}
.text-white {
  color: white;
}
.text-blue {
  color: $theme-color;
}
.indigo-text {
  color: $theme-color !important;
}

nav {
  background-color: $theme-color;
  bottom-padding: 0;

  #secondary-nav{
    max-height: 140px;
  }
}

.parallax-container{
  height: 600px;
}

#mission-statement {
  background: $theme-color;
  height: 24em;

  i.material-icons{
    color: white;
  }
 }

 #astor-solutions {
   .card-header{
     font-size: 1.4em;
   }
   p {
     text-align: justify;
   }

  div.card-body{
     max-height: 222px;
   }
 }

 .AEI-feature {
   img{
     margin-top: 1%;
     margin-bottom: 3.5%;
   }
 }

 #background-1.parallax-container {
   height: 6em;
 }

 .blog-container {
   height: 100%;
   background-color: #fff;
   h1{
     margin-top: 1.2em;
     display: inline-block;
     margin: 6.5% 0% 3% 2%;

   }
 }

#feature-blog-posts {
  .headline{
    margin: auto;
    margin-bottom: 1%;
  }
   .divider {
     background: #505e77;
     height: 3px;
   }
  .post-title {
    margin: 2.5% 0% 0% 3%;
    font-weight: bold;
  }
  .post-date {
     margin: auto 3% 1.4% 3%;
  }

  .post-snippet {
     margin: auto 3%;
  }
  .dash {
    position: relative;
    border: 0 none;
    border-top: 2px dashed #C2C2C2;
    margin: 2% auto;
    background: none;
    height:0;
   }

   .continue {
     margin: 1%;
     margin-right: 2%;
     position: relative;
   }

}

footer {

    background-color: $theme-color !important;


  .brand-logo-footer {
    margin-top: 3%;
    color: $theme-color;

  }

  .social-media-icons li {
  display: inline;
  margin: 3% auto;
}

.social-media-icons a {
  height: 45px;
  padding-left: 5px;
  }
}

.disclosures li {
  display: inline-block;
  font-size: 0.8em;
  a {
    color: #fff;
  }
}


/***************************************************************************************************************
****************************************************************************************************************
MEDIA QUERIES -- MOBILE
****************************************************************************************************************
***************************************************************************************************************/

@media #{$small-and-down} {
 nav {
    height: 4em;
  }

.parallax-container  {
  h3{
    font-size: 2em;
    font-weight: 600;
    margin-top: 8em;
  }
  h4 {
    font-size: 1.4em;
    }
  }
  #mission-statement {
    background: $theme-color;
    height: 19em;
   }

   #astor-solutions.parallax-container {
     height: 3000px;
   }

   #AEI {
     position: relative;
     background: $theme-color;
   }
   .AEI-feature {
     h2{
       font-size: 1.2em;
       font-weight: 500;
     }
     h1{
       font-size: 1.7em;
       font-weight: 600;
     }
     img{
       width: 95%;
     }
   }

   div.blog-container {
     height: 100%;
     background-color: #fff;
     width: 100%;
   }

   .headline h1{
     font-size: 1.5em;
     text-transform: capitalize;
     font-weight: 500;
     display: inline-block;
     margin: 3.5% 0% 3% 3%;
   }

   .post-title {
     font-size: 1.5em;
     display: inline-block;
     margin: 6.5% 0% 3% 3%;
   }
   .post-date {
     font-size: 0.9em;
     font-weight: 100;
   }
   .post-snippet {
     width: 95%;
   }

   footer {

     .footer-container {
       height: 10em;
      background-color: $theme-color;
     }

     .brand-logo-footer {
       display: inline-block;
       align-items: center;
     }
       .social-media-icons ul {
       text-align: center;
     }
}

}

/***************************************************************************************************************
****************************************************************************************************************
MEDIA QUERIES -- TABLET AND DOWN
****************************************************************************************************************
***************************************************************************************************************/
@media #{$medium-and-down} {
  nav {
     height: 5.2em;
     margin: 0;

     .brand-logo {
       margin: 3%;
     }
     .button-collapse {
       position: absolute;
     }
   }

   .card-panel {
  margin-top: 10%;
  // height: 55vh;
  }
  #astor-solutions.parallax-container {
    height: 1400px;
  }

  .icons-bottom ul {
    text-align: center;
    margin: 2% auto;
  }
  .compliance ul {
    text-align: center;
  }



}


@media (min-width: 561px) {

#astor-solutions.parallax-container {
  height: 800px;
}

}
/***************************************************************************************************************
****************************************************************************************************************
MEDIA QUERIES -- TABLET AND UP
****************************************************************************************************************
***************************************************************************************************************/
@media #{$medium-and-up} {
  nav {
     height: 6.4em;
     margin: 0;

     .brand-logo {
       margin: 2.5%;
     }

    a .button-collapse {
      padding: 5% auto;
    }
   }

   .parallax-container h3 {
     font-size: 3.3em;
     margin-top: 5em;
   }



   #hero-text a {
     position:absolute;
     margin: 10% 30%;
   }

   #mission-statement {
     height: 22em;
   }

   .card-panel {
  margin-top: 15%;
  max-height: 63vh;
  }



  .AEI-feature {
    h2{
      font-size: 1.8em;
      font-weight: 100;
    }
    h1{
      font-size: 2em;
      font-weight: 600;
    }
    img{
      width: 90%;
    }
  }

  .headline h1{
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    margin: 2.5% 0% 0% 1.5% ;

  }


    .post-title {
      font-size: 2em;
      display: inline-block;
      margin: inherit;
    }
    .post-date {
      font-size: 0.9em;
      font-weight: 100;
    }
    .post-snippet {
      width: 95%;

    }


  .divider {
    background: #505e77;
    height: 3px;
  }



}


/***************************************************************************************************************
****************************************************************************************************************
MEDIA QUERIES -- DESKTOP AND UP
****************************************************************************************************************
***************************************************************************************************************/
@media #{$large-and-up} {
  // styles for large screens and up
  nav {
     height: 10.4em;
     margin: 0;

     .brand-logo {
       position: absolute;
       left: -5em;
       margin: 5%;
     }
     #secondary-nav {
      position: relative;
      left: 5em;

     }
     ul.nav-main a {
       width: 8em;
       position: relative;
       bottom: 0.25em;
       font-size: 1.2em;
       background-color: $theme-color;
     }

     ul.nav-sm a {
         font-weight: 100;
         color: $gray-med;
     }

   }

   .parallax-container h3 {
     font-size: 4em;
     margin-top: 5em;
   }


   #astor-solutions.parallax-container {
     height: 500px;
   }

   .card-panel {
  margin-top: 15%;
  height: 54vh;
  }

  #dynamic-balanced{
    .card-body p{
      width: 95%;
      line-height: 1.5;
      display: inline-block;
      vertical-align: middle;
    }
    .card-btn{
    margin: 0;
    position: relative;
    top: 5em;
    left: 50;
    // transform: translate(-25%, -25%);
      }
    }
  #sector-allocation{

    .card-body p{
      width: 95%;
      line-height: 1.5;
      font-size: 0.95em;
      display: inline-block;
      vertical-align: middle;


    }
      .card-btn{
      margin: 0;
      position: relative;
      top: 5em;
      left: 50;
      // transform: translate(-25%, -25%);
      }
  }
  #active-income{
    .card-body p{
      width: 90%;
      line-height: 1.5;
      display: inline-block;
      vertical-align: middle;
    }
      .card-btn{
      margin: 0;
      position: relative;
      top: 5em;
      left: 50;
      // transform: translate(-25%, -25%);
      }
    }
    #macro-alternative{
      .card-body p{
        width: 90%;
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
      }
        .card-btn{
        margin: 0;
        position: relative;
        top: 5em;
        left: 50;
        // transform: translate(-25%, -25%);
        }
      }


      .AEI-feature {
        h2{
          font-size: 2.3em;
          font-weight: 100;
        }
        h1{
          font-size: 2.5em;
          font-weight: 600;
        }
        img {
          width: 85%;
        }
      }

      .icons-bottom ul {
        text-align: right;
      }
      .compliance ul {
        text-align: right;
      }
}

/***************************************************************************************************************
****************************************************************************************************************
MEDIA QUERIES -- Breakpoint
****************************************************************************************************************
***************************************************************************************************************/
// @media(min-width: $mid-large-breakpoint) and (max-width: ) {

// }

@media (min-width: 994px) and (max-width: 1152px) {
  #dynamic-balanced, #sector-allocation, #active-income, #macro-alternative{
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
    .card-panel {
      height: 25em;
    }
    .card-body p{
      margin-top: 1em;
      align-items: center;
      width: 65%;
    }

    .card-btn {
      top: inherit auto;
    }


  #astor-solutions.parallax-container {
    height: inherit;
  }

}

@media (min-width: 885px) and (max-width: 887px) {

#dynamic-balanced{
    .card-body p {
      max-width: 75%;
    }
  }

}
